<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nathan.app.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StratRoulette">
        <activity
            android:name=".SplitChoice"
            android:exported="true" />
        <activity
            android:name=".SplitDefendingMap"
            android:exported="true" />
        <activity
            android:name=".SplitAttackingMap"
            android:exported="true" />
        <activity
            android:name=".AscentChoice"
            android:exported="true" />
        <activity
            android:name=".AscentDefendingMap"
            android:exported="true" />
        <activity
            android:name=".AscentAttackingMap"
            android:exported="true" />
        <activity
            android:name=".BreezeChoice"
            android:exported="true" />
        <activity
            android:name=".BreezeDefendingMap"
            android:exported="true" />
        <activity
            android:name=".BreezeAttackingMap"
            android:exported="true" />
        <activity
            android:name=".IceboxChoice"
            android:exported="true" />
        <activity
            android:name=".IceboxDefendingMap"
            android:exported="true" />
        <activity
            android:name=".IceboxAttackingMap"
            android:exported="true" />
        <activity
            android:name=".BindChoice"
            android:exported="true" />
        <activity
            android:name=".BindDefendingMap"
            android:exported="true" />
        <activity
            android:name=".HavenChoice"
            android:exported="true" />
        <activity
            android:name=".HavenAttackingMap"
            android:exported="true" />
        <activity
            android:name=".HavenDefendingMap"
            android:exported="true" />
        <activity
            android:name=".BindAttackingMap"
            android:exported="true" />
        <activity
            android:name=".StrategyList"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>